import { Container, VStack, Section } from "@/components/ui";

const TopPage = (): React.JSX.Element => {
  return (
    <VStack as="main">
      <Container>
        <VStack gap="md">
          <Section headingAs="h1" title={`This is the top page of "{{.SubAppName}}".`}></Section>
        </VStack>
      </Container>
    </VStack>
  );
};

export { TopPage };
