import { Routes, Route } from "react-router-dom";

import { TopPage } from "@/apps/{{.SubAppName}}/components/page/TopPage";
import { HStack } from "@/components/ui";
import { type Metadata } from "@/types/metadata";

const metadata: Metadata = {
  id: "{{.SubAppId}}",
  title: "{{.SubAppTitle}}",
  description: "",
  AppIcon: () => (
    <HStack align="center" justify="center" className="size-12 bg-content3">
      <p className="text-lg font-semibold text-content3-foreground">{{.SubAppTitleInitial}}</p>
    </HStack>
  ),
};

const App = (): React.JSX.Element => {
  return (
    <Routes>
      <Route path="*" element={<TopPage />} />
    </Routes>
  );
};

// eslint-disable-next-line react-refresh/only-export-components
export { metadata, App };
